*
!app
!app/**
!documentation
!documentation/**
!.gitignore
!README.md
!LICENSE

**/bin/**
**/obj/**

**/*.user
app/.vs/
app/.idea/
app/packages/
**/PublishProfiles

app/TrackPlanner.WebUI.Server/wwwroot/copy_*.json