@using TrackPlanner.Shared.Data
@using System.Transactions

@{
    void renderStartEdit()
    {
        string css_style = $"{TimeInput.DefaultCssStyle};width: 4em";

        <b style="padding-left:1em">Start:</b>
        <TimeInput EditContext="editContext" @bind-Value="@this.startTime" CssStyle="@css_style"></TimeInput>
    }

    void renderNextDayRow(in CheckpointTrait trait)
    {
        <li style="margin-bottom: 1rem">
            @{
                renderAnchorButton($"D{trait.AnchorDayIndex + 1}", trait);
                renderStartEdit();
            }

            <button type="button" style="float:right" class="row-button btn btn-dark btn-sm"
                    @onclick="uiMergeDayToPreviousAsync">
                <i class="fas fa-link"></i>
            </button>
        </li>
    }

    void renderAnchorButton(string label, in CheckpointTrait trait)
    {
        string css_class = "btn btn-" + (trait.Anchor.IsPinned
            ? (this.Schedule.IsAnchorImportant(trait.AnchorDayIndex, trait.AnchorIndex) ? "warning" : "primary") : "secondary");
        <button type="button" class="@css_class">@label</button>
    }

    void renderAnchorRow(int dayIndex, int checkpointIndex)
    {
        var trait = new CheckpointTrait(this.Schedule, dayIndex, checkpointIndex);

        <li style="margin-bottom: 1rem">
            @{
                <div>
                    @if (trait.IsCheckpointLoopEnd)
                    {
                        renderAnchorButton("E", trait);
                    }
                    else if (!trait.IsAnchorReused)
                    {
                        renderAnchorButton(ScheduleSummaryExtension.GetMarkerCode(dayIndex, trait.AnchorIndex), trait);
                    }

                    @if (!trait.IsFirstCheckpointOfDay)
                    {
                        @if (trait.CanEditLabel)
                        {
                            <CustomTextInput EditContext="editContext" CssClass="anchor-label-style"
                                             @bind-Value="@anchorLabel"/>
                        }
                        else
                        {
                            <span>@anchorLabel</span>
                        }
                    }

                    @if (trait.CanDelete) // don't worry about starting day (on "next" days), those are covered with separate methods 
                    {
                        <button type="button" style="float:right" class="row-button btn btn-danger btn-sm"
                                @onclick="uiRemoveSingleAnchorAsync">
                            <i class="fas fa-trash"></i>
                        </button>
                    }
                    @{
                        <button type="button" style="float:right" class="row-button btn btn-dark btn-sm"
                                @onclick="this.uiFindPeaksAsync">
                            <i class="fas fa-mountain"></i>
                        </button>
                    }
                    @if (trait.CanPin)
                    {
                        <button type="button" style=" float:right" class="row-button btn btn-dark btn-sm"
                                @onclick="this.uiPinMarkerAsync">
                            <i class="fas fa-thumbtack"></i>
                        </button>
                    }

                    @if (trait.CanSplit)
                    {
                        <button type="button" style="float:right" class="row-button btn btn-dark btn-sm"
                                @onclick="this.uiSplitDayAsync">
                            <i class="fas fa-cut"></i>
                        </button>
                    }
                    @if (trait.CanOrderNext)
                    {
                        <button type="button" style="float:right" class="row-button btn btn-dark btn-sm"
                                @onclick="this.uiOrderNextAsync">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    }
                    @if (trait.CanOrderPrevious)
                    {
                        <button type="button" style="float:right" class="row-button btn btn-dark btn-sm"
                                @onclick="this.uiOrderPreviousAsync">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                    }

                    @if (trait.CanHaveGap)
                    {
                        <span style="padding-left: 0.5em">
                        <input type="checkbox" id="gap_checkbox" @bind="allowGap">
                    <label for="gap_checkbox">Allow gap</label>
                    </span>
                    }
                    @if (trait.CanHaveMap)
                    {
                        <span style="padding-left: 0.5em">
                        <input type="checkbox" id="map_checkbox" @bind="hasMap">
                    <label for="map_checkbox">Has map</label>
                    </span>
                    }

                </div>

                <div>

                    @if (trait.IsFirstCheckpointOfDay)
                    {
                        if (dayIndex == 0)
                            renderStartEdit();
                    }
                    @if (trait.CanMerge)
                    {
                        renderNextDayRow(trait);
                    }
                </div>

                if (!trait.IsFirstCheckpointOfDay && !trait.IsLastCheckpointOfDay && trait.Anchor.IsPinned)
                {
                    <div>
                        <BreakTimePresets PlannerPreferences="Schedule.Settings.PlannerPreferences" @bind-Value="@breakTime"></BreakTimePresets>
                        <b style="padding-left:0em">Break:</b>
                        <TimeInput EditContext="editContext" CssStyle="@($"{TimeInput.DefaultCssStyle}; width: 4em;")" @bind-Value="@breakTime">
                        </TimeInput>
                    </div>
                }

                if (trait.CanMove)
                {
                    <div>
                        <label>
                            <b>Position:</b>
                        </label>
                        <CustomTextInput EditContext="editContext" CssStyle="@($"{TimeInput.DefaultCssStyle}; width: 24em;")" @bind-Value="@point">
                        </CustomTextInput>
                    </div>
                }
            }


        </li>
    }

    renderAnchorRow(CheckpointDayIndex, CheckpointIndex);
}

<div style="  display: flex;align-items: center;">
    <button style="flex: 0 1 0; " @onclick="uiancelDialogAsync">Cancel</button>
    <span style="flex: 1 1 0;"></span>
    <button style="flex: 0 1 0; " @onclick="uiConfirmDialogAsync">Apply</button>
</div>