@using TrackPlanner.Structures

    @foreach (var (layer,idx) in Entries.ZipIndex())
    {
        <input style="" type="checkbox" id="@idx" @bind="layer.IsEnabled">
        <label style="" for="@idx">@layer.Name</label>
    }

<div style="  display: flex;align-items: center;">
    <button style="flex: 0 1 0; " @onclick="uiCancelDialog">Cancel</button>
    <span style="flex: 1 1 0;"></span>
    <button style="flex: 0 1 0; " @onclick="uiConfirmDialog">Accept</button>
</div>