<button @onclick="useDefaults">Use defaults</button>

<div>
    <span style="">
        <label style="" >
            Camp landing
        </label>
        @{
    {
        string css_style = $"{TimeInput.DefaultCssStyle};width: 4em";
    
        <TimeInput EditContext="editContext" @bind-Value="@this.Settings.PlannerPreferences.CampLandingTime" CssStyle="@css_style"></TimeInput>
    
    }
        }
    </span>
    <span style="">
        <label style="" >
            Home landing
        </label>
        @{
    {
        string css_style = $"{TimeInput.DefaultCssStyle};width: 4em";
    
        <TimeInput EditContext="editContext" @bind-Value="@this.Settings.PlannerPreferences.HomeLandingTime" CssStyle="@css_style"></TimeInput>
    
    }
        }
    </span>

</div>

<div>
  <span style="">
        <input style="" type="checkbox" id="stableCheckBox" @bind="this.Settings.RouterPreferences.UseStableRoads">
        <label style="" for="stableCheckBox">
             Stable roads
        </label>
    </span>
    <span style="">
        <input style="" type="checkbox" id="loopedCheckBox" @bind="this.Settings.LoopRoute">
        <label style="" for="loopedCheckBox">
            Looped route
        </label>
    </span>
    <span style="">
        <input style="" type="checkbox" id="homeStartCheckBox" @bind="this.Settings.StartsAtHome">
        <label style="" for="homeStartCheckBox">
            Home start
        </label>
    </span>
    <span style="">
        <input style="" type="checkbox" id="homeEndCheckBox" @bind="this.Settings.EndsAtHome">
        <label style="" for="homeEndCheckBox">
            Home end
        </label>
    </span>
</div>

<h6>Events</h6>
   
   <CascadingValue Value="editContext">
       @foreach (var trip_event in Settings.PlannerPreferences.TripEvents.OrderBy(it => it.Group).ThenBy(it => it.Identifier))
       {
           <div>
               <InputCheckbox @bind-Value="trip_event.Enabled"></InputCheckbox> <i class="@trip_event.ClassIcon"></i> @trip_event.Identifier
               </div>
       }
   </CascadingValue>
   
   <div style="margin-top:0.5rem;  display: flex;align-items: center;">
    <button  style="flex: 0 1 0; " @onclick="cancelDialog">Cancel</button>
    <span style="flex: 1 1 0;"></span>
    <button  style="flex: 0 1 0; "  @onclick="confirmDialog">Apply</button>
</div>