@* @inherits InputText

<input @attributes="AdditionalAttributes" class="@CssClass" 
       @bind="CurrentValueAsString" @bind:event="oninput" />
       *@

@inherits CustomInputBase<string>

<input style="@CssStyle" class="@CssClass" @bind="CurrentValueAsString"  @bind:event="oninput"  />       