@using Microsoft.AspNetCore.Components.Rendering
@using TrackPlanner.Shared.Data
@using MathUnit
@using System.Globalization
@using System.Reflection.Emit
@using System.Reflection.Metadata
@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using TrackPlanner.RestClient.Commands
@using TrackPlanner.Shared.Visual
@using TrackPlanner.Shared.Stored
@using TrackPlanner.Structures
@{

    // https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-6.0#functions

    void renderInsertionButton(int dayIndex, int anchorIndex)
    {
        <li style="margin-bottom: 1rem">
            <button type="button" class="btn btn-success btn-sm"
                    @onclick="()=>uiSetPlaceholderAsync(dayIndex, anchorIndex)">
                <i class="fas fa-plus-circle"></i>
            </button>
        </li>
    }

    void renderAt(Length distance, TimeSpan start, Length height, bool isFirstOfDay)
    {
        Console.WriteLine($"isFirstOfDay {isFirstOfDay}");
        string at_style = "padding-left: 0.5em;" + (isFirstOfDay ? "visibility: hidden" : "");
        <span style="@at_style">
            <span>@DataFormat.FormatDistance(distance, withUnit: true)</span>
            <span>@(DataFormat.DecoFormatHeight(height))</span>
            <span>
                <b>at</b> @DataFormat.Format(start)
            </span> 
        </span>
    }

    void renderPlaceholderRow()
    {
        <li style="margin-bottom: 1rem">
            <i @onclick="args => uiAddMarkerByPositionAsync()" style="margin-left:0.5em;  color: rgb(20,215,20);" class="fas fa-map-marker-alt"></i>

            <button title="Clear placeholder" type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                    @onclick="uiDeletePlaceholderAsync">
                <i class="fas fa-times-circle"></i>
            </button>
        </li>
    }

    void renderStartEdit(IVisualDay day, SummaryDay summaryDay)
    {
        <span>@(DataFormat.DecoFormatHeight(summaryDay.Checkpoints[0].UserPoint.Altitude))</span>
        <b style="padding-left:1em">start</b>
        <span>@(DataFormat.Format(day.Start))</span>
    }

    void renderNextDayRow(SummaryJourney summary, int dayIndex)
    {
        <li style="margin-bottom: 1rem">
            @{
                var day = Days[dayIndex];

                renderAnchorButton($"D{dayIndex + 1}", isPinned: true, dayIndex, 0);
                if (!DevelModes.True)
                    renderAt(Length.Zero, day.Start, summary.Days[dayIndex].Checkpoints[0].UserPoint.Altitude, isFirstOfDay: true);
                renderStartEdit(day, summary.Days[dayIndex]);
            }
        </li>
    }

    void renderTimeDistanceStatistics(TimeSpan duration,TimeSpan rollingTime, Length distance)
    {
        string speed = rollingTime == System.TimeSpan.Zero ? "--" : DataFormat.Format(distance / rollingTime, withUnit: true);

        <div>
            <b>Time</b> @(DataFormat.Format(duration)) <b>Distance</b> @(DataFormat.FormatDistance(distance, withUnit: true)) <b>Speed</b> @(speed)
        </div>
    }
    void renderStatistics(SummaryDay day, UserPlannerPreferences plannerPreferences)
    {
        <h5>Statistics</h5>
        
        renderTimeDistanceStatistics(day.TrueDuration,day.RollingTime, day.Distance);

        <div>
            <b>Climbs</b> @(DataFormat.FormatDistance(day.ElevationStats.ClimbDistance, withUnit: true)) / @(DataFormat.FormatHeight(day.ElevationStats.ClimbHeight, withUnit: true)) (@(day.ElevationStats.ClimbSlope))
        </div>
        <div>
            @foreach (var event_stats in ScheduleSummaryExtension.GetEventStats(day.GetEventCounters(), plannerPreferences))
            {
                <span style="margin-right: 0.5em">
                    <i title="@(event_stats.label)" class="@event_stats.classIcon"></i> @(DataFormat.FormatEvent(event_stats.count, event_stats.duration))
                </span>
            }
            <i></i>
        </div>
    }

    void renderAnchorButton( string label,  bool isPinned, int checkpointDayIndex,
        int checkpointIndex)
    {
        string css_class = "btn btn-" + (isPinned 
            ? (this.visualSchedule.IsCheckpointImportant(checkpointDayIndex,checkpointIndex) 
                ? "warning" : "primary") : "secondary");

        <button @onclick="(args) => uiAnchorClickedAsync(args,checkpointDayIndex,checkpointIndex)" 
                type="button" class="@css_class">@label</button>
    }

    void renderAnchorRow(int dayIndex, int checkpointIndex)
    {
        var trait = new CheckpointTrait(this.visualSchedule,dayIndex,checkpointIndex);
        var summary_day = this.visualSchedule.GetSummary().Days[dayIndex];
        var inner_day = this.Days[trait.AnchorDayIndex];
        
        SummaryCheckpoint checkpoint = summary_day.Checkpoints[checkpointIndex];
        var anchor = inner_day.Anchors[trait.AnchorIndex];
        
        <li style="margin-bottom: 1rem">
            @{
                <div>
                    @if (trait.IsCheckpointLoopEnd)
                    {
                        renderAnchorButton("E", isPinned: true,dayIndex,checkpointIndex);
                    }
                    else if (!trait.IsFirstCheckpointOfDay || dayIndex==0)
                    {
                        // skipping the first checkpoint of the second (and later) day, we will use general "Dk" button
                        // instead detailed "day-anchor" one (i.e. this one)
                        renderAnchorButton(ScheduleSummaryExtension.GetMarkerCode(trait.AnchorDayIndex, trait.AnchorIndex),
                            trait.Anchor.IsPinned,dayIndex,checkpointIndex);
                    }
                    
                    @if (trait.IsFirstCheckpointOfDay)
                    {
                        // renders "Dk" button -- opening the day
                        
                        if (dayIndex == 0)
                            renderStartEdit(inner_day, summary_day);
                        else
                            renderNextDayRow(this.visualSchedule.GetSummary(), dayIndex);
                    }

                    @if (trait.CanEditLabel)
                    {
                        <CustomTextInput EditContext="editContext" CssClass="anchor-label-style"
                                         @bind-Value="@anchor.UiOnlyLabel"/>
                    }
                    @if (anchor.HasMap)
                    {
                        <i style="font-size: 1.2em;color: limegreen; padding-left: 0.5em;" class="fas fa-directions"></i>
                    }
                    
                    
                </div>
                
                @if (!trait.IsFirstCheckpointOfDay)
                {
                    <div>
                        @{
                            renderAt(checkpoint.IncomingDistance, checkpoint.Arrival, checkpoint.UserPoint.Altitude, trait.IsFirstCheckpointOfDay);
                        }
                    </div>
                }

                if (!trait.IsFirstCheckpointOfDay && !trait.IsLastCheckpointOfDay && trait.Anchor.IsPinned)
                {
                    <div>
                        <span style="margin-left: 0.5em;">
                            @foreach (var (label,css_class,count,duration) in checkpoint.GetEvents(this.visualSchedule.GetSummary()))
                            {
                                var title = $"{label} {DataFormat.Format(duration)}";
                                <span style="margin: 0 2px;">@(count==1?new MarkupString(""):new MarkupString($"{count}&times; "))</span><i class="@css_class" title="@title" style="color: navy"></i>
                            }
                        </span>
                        +
                        <b>break:</b> @(DataFormat.Format(trait.Anchor.UserBreak))
                  
                    </div>
                }
            }


        </li>
    }
}


<div>
    <!-- space reservation -->
    <div style="visibility:hidden; height:0">
        @{
            renderTimeDistanceStatistics(TimeSpan.FromHours(88.88),TimeSpan.FromHours(77.77), Length.FromKilometers(888.88));
        }
        <button type="button" disabled="disabled" class="btn">@ScheduleSummaryExtension.GetMarkerCode(88, 88)</button>
        <input type="text" class="anchor-label-style" disabled/>
    </div>

    <ul style="list-style-type: none; padding-left: 0;">
        @{

            //  Console.WriteLine($"Rendering markers side bar with {Days.Count} days");
//msLogger.LogDebug($"We have {visualSchedule.Summary.Days.Sum(it => it.Checkpoints.Count)} checkpoints");
            for (int __day_idx = 0; __day_idx < visualSchedule.GetSummary().Days.Count; ++__day_idx)
            {

                int day_idx = __day_idx;
                var day = visualSchedule.Days[day_idx];
                var summary_day = visualSchedule.GetSummary().Days[day_idx];

                // Console.WriteLine($"Toggle state for human day {day_idx+1} = {inner_day.Visual}");


                var late_camping = summary_day.LateCampingBy is {} late ?
                    new MarkupString($"<span title='running late'><i style='color:red' class='fas fa-stopwatch'></i> <small>{late}</small></span>")
                    : new MarkupString();
                
                var needs_description = summary_day.NeedsDescription ?
                    new MarkupString($"<span title='describe landing'><i style='color:red' class='fas fa-edit'></i></span>")
                    : new MarkupString();
                
                <AccordionToggle Tag="@day_idx" OnToggled="onDayToggled" @bind-Collapsed="this.TotalManager.UiState[day_idx]">
                    <Header>
                        <h4>
                            Day @(day_idx + 1)
                            <CustomTextInput EditContext="editContext" CssClass="anchor-label-style"  
                                             @bind-Value="day.Note"/>

                            @(late_camping) @(needs_description)
                        </h4>
                    </Header>
                </AccordionToggle>

                if (!this.TotalManager.UiState.CollapsedDays[day_idx])
                {
                    // Console.WriteLine("Start of anchor loop");
                    <div>
                        <button title="Find attractions" type="button" style="" class="btn btn-info btn-sm" @onclick="() => uiGetAttractionsAsync(day_idx)">
                            <i class="fas fa-camera"></i>
                        </button>
                        <button title="Find stores" type="button" style="" class="btn btn-info btn-sm" @onclick="() => uiGetFoodStoresAsync(day_idx)">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                        <button title="Clear places" type="button" style="" class="btn btn-info btn-sm" @onclick="async () => await uiClearAttractionsAsync(day_idx)">
                            <i class="fas fa-eye-slash"></i>
                        </button>
                    </div>

                    if (day_idx == 0 && (day_idx,0) != visualSchedule.AnchorPlaceholder)
                        {
                            renderInsertionButton(day_idx, 0);
                        }

                    int anchor_idx = day_idx == 0 ? 0 : -1;
                    // Console.WriteLine($"DEBUG rendering for day {day_idx} {day.Checkpoints.Count} checkpoints");
                    // on next days do not show insertion before day start

                    @for (int checkpoint_idx = 0; checkpoint_idx < summary_day.Checkpoints.Count; ++checkpoint_idx,++anchor_idx)
                    {
                        // on next days do not show insertion before day start
                        if (checkpoint_idx > 0 || day_idx == 0)
                        {
                            if ((day_idx,anchor_idx) == visualSchedule.AnchorPlaceholder)
                                renderPlaceholderRow();

                            /*if ((day_idx,anchor_idx) != visualSchedule.AnchorPlaceholder
                            && checkpoint_idx==0)
                            {
                                renderInsertionButton(day_idx, anchor_idx);
                            }*/
                        }

                        renderAnchorRow(day_idx, checkpoint_idx);
                    }

                    // Console.WriteLine("End of anchor loop");

                    if ((day_idx,anchor_idx) == visualSchedule.AnchorPlaceholder)
                        renderPlaceholderRow();

                    // DO NOT use `else` here because placeholder is nullable
                    if ((day_idx,anchor_idx) != visualSchedule.AnchorPlaceholder
                    && false)
                        renderInsertionButton(day_idx, anchor_idx);


                    renderStatistics(summary_day, visualSchedule.GetSummary().PlannerPreferences);
                }
            }


        }
        <div>
            <b>Total distance:</b> @(DataFormat.FormatDistance(visualSchedule.GetSummary().Distance, withUnit: true))
        </div>
    </ul>

</div>