﻿@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@using BlazorLeaflet
@using MathUnit
@using TrackPlanner.Shared.Data

<Title Value="@($"TrackTurner: {(visualSchedule.IsModified?"@ ":"")}{visualSchedule.UserFriendlyProjectName}")"></Title>
<BlazoredToasts />

<NavigationLock ConfirmExternalNavigation="@(visualSchedule?.IsModified ?? false)" 
                OnBeforeInternalNavigation="onBeforeInternalNavigation" />

<div style="height: 100vh;display: grid;grid-template-columns: auto 5fr;grid-template-rows: min-content 5fr 2fr; ">

    <!-- TOOLBAR -->
    <div style="grid-area: 1 / 1 / 2 / 3;;display:flex; justify-content:space-between;">
        <span>
            <EditForm Model="this">
                <button @onclick="newProjectAsync">New</button>
                <button @onclick="uiLoadScheduleAsync">Load</button>
                <button @onclick="saveScheduleAsync">Save</button>
                <button disabled="@(!totalManager.CanUndo)" @onclick="uiUndoAsync" title="@(totalManager.UndoLabel)">Undo</button>
                <button disabled="@(!totalManager.CanRedo)" @onclick="uiRedoAsync" title="@(totalManager.RedoLabel)">Redo</button>
                <label>
                    <InputCheckbox @bind-Value="@AutoBuild"></InputCheckbox>
                    Auto build
                </label>
                <button @onclick="uiPartialBuildPlanAsync" disabled="@(!uiBuildEnabled)">Build</button>
                <button @onclick="uiCompleteRebuildPlanAsync" disabled="@(!uiBuildEnabled)">Rebuild all</button>
                <label>
                    <InputCheckbox @bind-Value="@ShowElevation"></InputCheckbox>
                    Elevation
                </label>
                <button @onclick="uiSelectLayersAsync">Layers</button>
            </EditForm>
        </span>
        <span>
            @if (visualSchedule?.IsModified ?? false)
            {
                <span style="padding-right: 0.5em"><i class="fas fa-pen"></i></span>
            }
            <span>@(visualSchedule?.UserFriendlyProjectName)</span>
        </span>
        <span>
            <button @onclick="uiRefresh">UI Refresh</button>
            <button @onclick="uiTestAsync">TESTING</button>
            <button @onclick="uiSaveDebugAsync">Save debug</button>
            <button @onclick="uiEditPreferencesAsync">Prefs</button>
        </span>
    </div>
    <!-- END OF TOOLBAR -->

        <!-- LEFT PANE -->
        <div style="grid-area: 2 / 1 / 4 / 2;overflow:auto">
                <div style="">
                    <button title="Clear peaks" type="button" style="" class="btn btn-info btn-sm" @onclick="uiClearPeaksAsync">
                        <i class="fas fa-broom"></i>
                    </button>
                        <button title="Clear attractions" type="button" style="" class="btn btn-info btn-sm" @onclick="uiClearAllAttractionsAsync">
                            <i class="fas fa-eye-slash"></i>
                        </button>
                          <button title="Clear placeholder" type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                                  @onclick="uiDeletePlaceholderAsync">
                              <i class="fas fa-times-circle"></i>
                          </button>
  </div>
                <Markers @ref="markers" MapManager="this"  TotalManager="totalManager"></Markers>
                <Accordion Collapsed="true">
                    <Header>
                        <h3>Legend</h3>
                    </Header>
                    <Body>
                    <Legend></Legend>
                    </Body>
                </Accordion>
        </div>

        <!-- END OF LEFT PANE -->

    <!-- RIGHT PANE -->
    @{
        var map_row_end = ShowElevation? 3: 4;
        var map_col_end = 3;
    }
    <div id="mapContainer" style="grid-area: 2 / 2 / @map_row_end / @map_col_end; ">
        <LeafletMap Map="Map"/>
    </div>
    @if (ShowElevation)
    {
        <div style="grid-area: 3 / 2 / 4 / 3;">
            <ElevationProfile OnHoverAsync="onChartHoverAsync"
                              OnMouseOutAsync="onChartMouseOutAsync"
                              Line="totalManager.ElevationLine" Points="totalManager.ElevationPoints">
            </ElevationProfile>
            <!--<div style="position: relative;flex-shrink: 1; flex-grow: 1;">
                <canvas id="bar-chart" style="" ></canvas>
            </div>-->


        </div>
    }

        <!-- END OF RIGHT PANE -->

</div>
